input,
button {
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  padding: 0;
}

/* Text inputs */
input[type="text"]:not(.isZeroed),
input[type="password"]:not(.isZeroed) {
  background: #f2f2f2;
  padding: 7px 12px;
  border-radius: 8px;
  font: inherit;
}

@media (prefers-color-scheme: dark) {
  input[type="text"]:not(.isZeroed),
  input[type="password"]:not(.isZeroed) {
    background: #455A64;
    color: #fff;
  }
}

/* Buttons */

button {
  cursor: pointer;
}

button.isZeroed {
  width: auto;
}

button > svg {
  width: 24px;
  transition: .14s;
}
